<footer class="footer">
  <small>

   <a href="http://www.michaelhartl.com/">Made with Michael Hartl`s book</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "О приложении",   about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
      </ul>
  </nav>
</footer>